<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>웹채팅 인터페이스</title>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"
        integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/chat.css') }}" type="text/css">
</head>

<body>

    <div class="container">
        <div id="header">
            <h3 id="nicknameDisplay" data-nickname="{{ nickname }}">이름 : {{ nickname }}</h3>
            <h3 id="RoomNumberDisplay">방 이름 : </h3>
        </div>

        <div class="main">
            <div id="sidebar">
                <form action="#" class="sidebar_element">
                    <input type="text" id="selectRoom" placeholder="방 이름 입력">
                    <button id="selectRoom_button" type="button">방 입장</button>
                    <button id="leaveRoom_button" type="button" disabled>방 나가기</button>
                </form>
            </div>

            <div id="content">
                <div id="messages"></div>
                <form action="#" id="input-area">
                    <input type="text" id="message-input" placeholder="메시지를 입력하세요">
                    <button id="send_button">전송</button>
                    <button id="showExtra" type="button">+</button>
                </form>
            </div>

            <div id="extra">
                <button class="function_button" id="showLog">통신 로그 보기</button>
                <button class="function_button" id="uploadImage">이미지 첨부</button>
                <input type="file" id="imageInput" style="display: none;">
            </div>
        </div>
    </div>

    <!-- 패킷 로그 표시 영역 -->
    <div id="logCheck">
        <!-- 패킷 로그가 이곳에 표시됩니다 -->
    </div>

    <script>
        const nickname = "{{ nickname }}";
    </script>
    <script src="{{ url_for('static', filename='script/chat.js') }}"></script>

</body>

</html>
