<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/body.css') }}" type="text/css">
   
    <style>
        
    </style>

</head> 
<body>
    
    <form class="box" action="/signup/set/" method="post">
        
        <h2>회원가입</h2><br>
        
        <div class="inputBox">
            <input type="text" name="id" value="">
            <label>아이디</label>
        </div>
        <div class="inputBox">
                <input type="password" name="password" value="">
                <label>비밀번호</label>
        </div>

        <div class="inputBox">
            <input type="text" name="nickname" value="">
            <label>닉네임</label>
        </div>
        <div class="inputBox">
                <input type="email" name="email" value="">
                <label>이메일</label>
        </div>
        <div class="box1">
            <input type="submit" id="login" name="sign-in" value="완료" onclick="">
        </div>


    </form>

    





</body>
</html>